<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cdteam.employee.base.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.cdteam.employee.base.domain.TeacherEntity">
        <id column="id" property="id" />
        <result column="employee_code" property="employeeCode" />
        <result column="teacher_name" property="teacherName" />
        <result column="work_type" property="workType" />
        <result column="speak_course" property="speakCourse" />
        <result column="team_work_time" property="teamWorkTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_del" property="isDel" />
    </resultMap>


    <resultMap id="UnionResultMap" type="org.cdteam.employee.base.dobject.TeacherUnionDO">
        <id column="id" property="id" />
        <result column="employee_code" property="employeeCode" />
        <result column="teacher_name" property="teacherName" />
        <result column="work_type" property="workType" />
        <result column="speak_course" property="speakCourse" />
        <result column="team_work_time" property="teamWorkTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_del" property="isDel" />

        <result column="real_name" property="realName" />
        <result column="on_job" property="onJob" />
        <result column="org" property="org" />
        <result column="dept" property="dept" />
        <result column="job_name" property="jobName" />
        <result column="join_time" property="joinTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, employee_code, teacher_name, work_type, speak_course, team_work_time, create_time, update_time, is_del
    </sql>

    <select id="selectUnionPage" resultMap="UnionResultMap">
        select
        btp.id, btp.employee_code, teacher_name, btp.work_type, speak_course, team_work_time, btp.create_time, btp.update_time,
        real_name, on_job, org, dept, job_name, join_time
        from base_teacher btp
        left join base_employee be
        on be.employee_code = btp.employee_code
        where btp.is_del = 0
        <if test="teacherName != null">
            and btp.teacher_name like concat('%', #{teacherName} ,'%')
        </if>
        <if test="workType != null">
            and btp.work_type like concat('%', #{workType} ,'%')
        </if>
        <if test="org != null">
            and be.org like concat('%', #{org} ,'%')
        </if>
        <if test="dept != null">
            and be.dept like concat('%', #{dept} ,'%')
        </if>
        <if test="jobName != null">
            and be.job_name like concat('%', #{jobName} ,'%')
        </if>
    </select>
</mapper>
